.container{
  min-height: 100vh;
  background: #eee;
}

.post-content{
  background: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: all 0.1s;
  border-radius: 10px;
  margin: 15px;
}

.search-container{
  margin-bottom: 30px;
}

.search-container h1{
  margin-bottom: 30px;
}